<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.AccountMapper">
    <select id="UserLogin" resultType="Account" parameterType="Account">
        select * from account where username=#{username} and password=#{password} and usertype=#{usertype}
    </select>

    <insert id="UserRegister" parameterType="Account">
        insert into account (username, password, usertype) VALUES (#{username},#{password},'业主用户')
    </insert>
</mapper>